<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>


  <style type="text/css">
    .highLight {
      background-color: coral
    }

    .onlyOne {
      background-color: aquamarine
    }
  </style>
</head>

<body>
  <div id="vm">
    <div class="container">
      <div style="margin:30px">
        <div class="row justify-content-md-center" v-for="row in maindata">
          <div v-for="col in row.columns" style="border: solid 1px red; width: 75px; height: 75px; margin: 0 0 -1px -1px ; " v-on:click='clickPanel(col)'
            v-bind:class="{ highLight: col.isHighlight , onlyOne: col.isOnlyOne}">

            <!-- 問題として提出される値 -->
            <div v-if="col.determined" style="background-color: yellow; height:100%; display: flex; align-items: center; justify-content: center;">
              <h1>{{col.determinedNumber}}</h1>
            </div>

            <!-- 問題として提出される値 -->
            <div v-if="!col.determined" style="display: flex; flex-wrap: wrap; width:45px; height: 45px; align-content: space-between; background-color:greenyellow;">

              <div style="width:15px; height: 15px;margin: 0; background-color: tan; font-size: 10px; display: flex; align-items: center; justify-content: center;">
                <span v-if="col.candidates.num1">1</span>
              </div>
              <div style="width:15px; height: 15px;margin: 0; background-color: tan; font-size: 10px; display: flex; align-items: center; justify-content: center;">
                <span v-if="col.candidates.num2">2</span>
              </div>
              <div style="width:15px; height: 15px;margin: 0; background-color: tan; font-size: 10px; display: flex; align-items: center; justify-content: center;">
                <span v-if="col.candidates.num3">3</span>
              </div>
              <div style="width:15px; height: 15px;margin: 0; background-color: tan; font-size: 10px; display: flex; align-items: center; justify-content: center;">
                <span v-if="col.candidates.num4">4</span>
              </div>
              <div style="width:15px; height: 15px;margin: 0; background-color: tan; font-size: 10px; display: flex; align-items: center; justify-content: center;">
                <span v-if="col.candidates.num5">5</span>
              </div>
              <div style="width:15px; height: 15px;margin: 0; background-color: tan; font-size: 10px; display: flex; align-items: center; justify-content: center;">
                <span v-if="col.candidates.num6">6</span>
              </div>
              <div style="width:15px; height: 15px;margin: 0; background-color: tan; font-size: 10px; display: flex; align-items: center; justify-content: center;">
                <span v-if="col.candidates.num7">7</span>
              </div>
              <div style="width:15px; height: 15px;margin: 0; background-color: tan; font-size: 10px; display: flex; align-items: center; justify-content: center;">
                <span v-if="col.candidates.num8">8</span>
              </div>
              <div style="width:15px; height: 15px;margin: 0; background-color: tan; font-size: 10px; display: flex; align-items: center; justify-content: center;">
                <span v-if="col.candidates.num9">9</span>
              </div>

            </div>
            <!-- コミットされた値がある場合 -->
            <div v-if="!col.determined" style="border: gray solid 1px; height: 25px; width: 25px; margin: 2px" class="float-right">
              <div v-if="col.commit" style="font-size: 16px; display: flex; align-items: center; justify-content: center;">
                {{col.commitNumber}}
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <label class="align-text-top col-2">固定：</label>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-primary" v-for="n in 9">
          <input type="radio" name="options0" v-bind:value="n"> {{n}}
        </label>
        <label class="btn btn-warning">
          <input type="radio" name="options0" value="0"> clear
        </label>
      </div>
    </div>

    <div class="container">
      <label class="align-text-top col-2">候補：</label>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-primary" v-for="n in 9">
          <input type="radio" name="options1" v-bind:value="n"> {{n}}
        </label>
      </div>
    </div>

    <div class="container">
      <label class="align-text-top col-2">候補から削除 ：</label>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-primary" v-for="n in 9">
          <input type="radio" name="options2" v-bind:value="n"> {{n}}
        </label>
      </div>
    </div>

    <div class="container">
      <label class="align-text-top col-2">確定：</label>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-primary" v-for="n in 9">
          <input type="radio" name="options3" v-bind:value="n"> {{n}}
        </label>
        <label class="btn btn-success">
          <input type="radio" name="options3" value="0"> clear
        </label>
      </div>
    </div>

    <div class="container">
      <div class="float-right">
        <button type="button" v-on:click="saveBoard()" class="btn btn-secondary">保存</button>
        <button type="button" v-on:click="loadBoard()" class="btn btn-secondary">ロード</button>
        <button type="button" v-on:click="clearBoard()" class="btn btn-secondary">クリア</button>
      </div>
    </div>

  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>



  <script type="text/javascript">

    // ---------------------------------------
    // 初期の配列を用意(colを入れる容器の１つ)
    // ---------------------------------------
    var createEmptyArr = function () {
      var x, y;
      var tbl = new Array(10);
      for (y = 0; y < 10; y++) {
        tbl[y] = new Array(10);
        for (x = 0; x < 10; x++) {
          tbl[y][x] = 0;
        }
      }
      return tbl
    }

    // ---------------------------------------
    // エリア判定用のメソッドと各納器
    // ---------------------------------------
    var calcArea = function (rownum, colnum) {
      var rowArea = Math.floor((rownum - 1) / 3) + 1;
      var colArea = Math.floor((colnum - 1) / 3) + 1;
      return rowArea + "" + colArea;
    }


    var dataset = {
      areas: {},
      arrayData: createEmptyArr()
    };

    var createMainData = function () {
      // 各calcの一意の番号
      var id = 0;
      var rowdata = [];

      for (var i = 1; i < 10; i++) {
        var row = {
          rownum: i,
          columns: []
        };

        for (var j = 1; j < 10; j++) {

          //エリアを算出
          var areanum = calcArea(i, j);
          if (!dataset.areas[areanum]) {
            dataset.areas[areanum] = [];
          }

          var col = {
            id: ++id,
            areanum: areanum,
            rownum: i,
            colnum: j,
            determined: false,  //問題の値
            determinedNumber: 0, //問題の値の数字
            commit: false, //決定した数字
            commitNumber: 0, //決定した数字
            candidates: { //候補
              num1: true,
              num2: true,
              num3: true,
              num4: true,
              num5: true,
              num6: true,
              num7: true,
              num8: true,
              num9: true
            },
            isHighlight: false,
            getCandidatesNumArr: function () {
              var candidatesNumArr = [];
              for (i = 1; i < 10; i++) {
                if (this.candidates[("num" + i)]) {
                  candidatesNumArr.push(i);
                }
              }
            },
            isOnlyOne: false
          }
          dataset.arrayData[i][j] = col;
          row.columns.push(col);
          dataset.areas[areanum].push(col);
        }
        rowdata.push(row);
      }
      return rowdata;

    }


    var vm = new Vue({
      el: "#vm",
      data: {
        maindata: createMainData(),
        areas: null,
        arrayData: null,
        mode: null,
        num: null,
        baseCondidate: [1,2,3,4,5,6,7,8,9]
      },
      methods: {
        init: function () {
          this.createArrayData();
          this.createAreas();

          // console.log(this.areas);
          // console.log(this.arrayData);

        },
        clickPanel: function (col) {
          if (this.mode === null || this.num === null) {
            return;
          }
          console.log("Panel click mode:" + this.mode + " num:" + this.num);

          switch (this.mode) {
            case "Determined":
              col.determined = true;
              col.determinedNumber = this.num

              this.clearRowCandidates(col, this.num, false);
              this.clearColCandidates(col, this.num, false);
              this.clearAreaCandidates(col, this.num, false);
              this.resetCandidates();
              this.setHighlight(this.num);
              break;

            case "DeterminedClear":
              col.determined = false;
              col.determinedNumber = this.num
              console.log("DeterminedClear : " + this.num);
              this.clearRowCandidates(col, this.num, true);
              this.clearColCandidates(col, this.num, true);
              this.clearAreaCandidates(col, this.num, true);
              this.resetCandidates();
              this.setHighlight(this.num);

              break;

            case "Candidates":
              var prop = "num" + this.num
              col.candidates[prop] = true;
              break;

            case "CandidatesClear":
              var prop = "num" + this.num
              col.candidates[prop] = false;
              break;

            case "Commit":
              col.commit = true;
              col.commitNumber = this.num

              this.clearRowCandidates(col, this.num, false);
              this.clearColCandidates(col, this.num, false);
              this.clearAreaCandidates(col, this.num, false);
              this.resetCandidates();
              this.setHighlight(this.num);

              break;

            case "CommitClear":
              col.commit = false;
              col.commitNumber = this.num

              this.clearRowCandidates(col, this.num, true);
              this.clearColCandidates(col, this.num, true);
              this.clearAreaCandidates(col, this.num, true);
              this.resetCandidates();
              this.setHighlight(this.num);
              break;
            default:
              break;
          }


        },
        createAreas: function () {
          this.areas = {};
          for (var i = 1; i < 10; i++) {
            for (var j = 1; j < 10; j++) {
              var targetCol = this.arrayData[i][j];
              // console.log("createAreas  rownum:" + targetCol.rownum + " colnum:" + targetCol.colnum);
              //エリアを算出
              var areanum = calcArea(i, j);
              if (!this.areas[areanum]) {
                this.areas[areanum] = [];
              }
              this.areas[areanum].push(targetCol);
            }
          }
        },
        createArrayData: function () {
          this.arrayData = createEmptyArr();
          for (var i = 1; i < 10; i++) {
            for (var j = 1; j < 10; j++) {
              var row = this.maindata[i - 1];
              this.arrayData[i][j] = row.columns[j - 1];
            }
          }
        },
        setDetermined: function (num) {
          console.log("setDetermined: ");
          this.mode = "Determined";
          this.num = num;
        },
        setDeterminedClear: function () {
          console.log("setDeterminedClear: ");
          this.mode = "DeterminedClear";
          // this.num = 0;
        },
        setCandidates: function (num) {
          console.log("setCandidates: ");
          this.mode = "Candidates";
          this.num = num;
        },
        setCandidatesClear: function (num) {
          this.mode = "CandidatesClear";
          this.num = num;
        },
        setCommit: function (num) {
          this.mode = "Commit";
          this.num = num;
        },
        setCommitClear: function () {
          this.mode = "CommitClear";
          // this.num = 0;
        },
        clearRowCandidates: function (col, num, setBool) {
          for (var i = 1; i < 10; i++) {
            var targetCol = this.arrayData[col.rownum][i];
            var prop = "num" + num;
            targetCol.candidates[prop] = setBool;
          }
        },
        clearColCandidates: function (col, num, setBool) {
          for (var i = 1; i < 10; i++) {
            var targetCol = this.arrayData[i][col.colnum];
            var prop = "num" + num;
            targetCol.candidates[prop] = setBool;
          }

        },
        clearAreaCandidates: function (col, num, setBool) {
          var area = this.areas[col.areanum];
          for (var i = 0; i < 9; i++) {
            var targetCol = area[i];
            var prop = "num" + num;
            targetCol.candidates[prop] = setBool;
          }
        },
        setHighlight: function (num) {
          console.log("setHighlight");
          for (var i = 1; i < 10; i++) {
            for (var j = 1; j < 10; j++) {

              //１パネルずつ見ていく
              var targetCol = this.arrayData[i][j];

              targetCol.isHighlight = false;
              targetCol.isOnlyOne = false;

              // console.log(targetCol);
              if (targetCol.commit) {
                //コミット済みはハイライトしない
                targetCol.isHighlight = false;
                continue;
              }

              var prop = "num" + num;
              // console.log("i:" + i + "  j:" + j + "  prop:" + prop);
              if (targetCol.candidates[prop]) {
                //候補に存在する場合はハイライト
                targetCol.isHighlight = true;


                //１個しか無いものあぶり出し
                var candidatesCount = 0;
                for (k = 1; k < 10; k++) {
                  if (targetCol.candidates[("num" + k)]) {
                    candidatesCount++;
                  }
                }
                if(candidatesCount == 1){
                  targetCol.isOnlyOne = true;
                }else{
                  targetCol.isOnlyOne = false;
                }


              } else {
                // targetCol.isHighlight = false;
                // targetCol.isOnlyOne = false;
                
              }
            }
          }
        },
        resetCandidates: function () {
          for (var i = 1; i < 10; i++) {
            for (var j = 1; j < 10; j++) {

              var targetCol = this.arrayData[i][j];

              if(targetCol.commit){
                // console.log("iscommit i:" + i + "  j:" + j);
                this.clearCondidates(targetCol);
                continue;
              }

              // 行列の固定値を取得
              var rowsCommits = this.getCommitRow(j);
              var colsCommits = this.getCommitCol(i);

              //エリアの固定値を取得
              var areasCommits = this.getCommitArea(targetCol.areanum);
              // console.log("----------------------------------------------------------------------");

              // console.log(rowsCommits);
              // console.log(colsCommits);
              // console.log(areasCommits);
              var commits = _.union(rowsCommits, colsCommits, areasCommits);
              var commitsUniq = _.uniq(commits);

              // console.log(commits);
              // console.log(commitsUniq);


              this.setCodidate(targetCol, commitsUniq);
            }
          }
        },
        setCodidate(col, commits){

          var that = this;

          //コミットに含まれているものがあれば候補から消し、含まれていないものは残す
          _.each(that.baseCondidate , function(num){
            // console.log("判定");
            // console.log(that.baseCondidate);
            // console.log(num + "");
            // console.log(commits);
            
            if(_.indexOf(commits, num) >= 0){
              col.candidates[("num" + num)] = false;
              // console.log("消し:" + num);
            }else{
              col.candidates[("num" + num)] = true; 
              // console.log("消さない:" + num + " index:" + _.indexOf(commits, num)); 
            }
          });
          
        },
        getCommitRow: function (colnum) {
          // var candidatesRows = [];
          var commitNums = [];
          for (var i = 1; i < 10; i++) {
            //１パネルずつ見ていく
            var targetCol = this.arrayData[i][colnum];
            
            //確定しているものがあるなら確定しているもののみ
            if(targetCol.determined){
              commitNums.push(targetCol.determinedNumber * 1);
              continue;
            }

            if(targetCol.commit){
              commitNums.push(targetCol.commitNumber * 1);

              continue;
            }
            
            // //候補
            // var targetArr = targetCol.getCandidatesNumArr();
            // candidatesRows = _.union(candidatesRows, targetArr);
          }
          return commitNums;
        },
        getCommitCol: function (rownum) {
          // var candidatesCols = [];
          var commitNums = [];
          for (var i = 1; i < 10; i++) {
            //１パネルずつ見ていく
            var targetCol = this.arrayData[rownum][i];

            //確定しているものがあるなら確定しているもののみ
            if(targetCol.determined){
              commitNums.push(targetCol.determinedNumber * 1);
              continue;
            }

            if(targetCol.commit){
              commitNums.push(targetCol.commitNumber * 1);

              continue;
            }
            

            // var targetArr = targetCol.getCandidatesNumArr();
            // candidatesCols = _.union(candidatesCols, targetArr);
          }
          return commitNums;
        },
        getCommitArea: function (areanum) {
          // var candidatesAreas = [];
          var commitNums = [];

          var targetAreaColArr = this.areas[areanum]
          _.each(targetAreaColArr, function (targetCol) {


            //確定しているものがあるなら確定しているもののみ
            if(targetCol.determined){
              commitNums.push(targetCol.determinedNumber * 1);
              return;
            }

            if(targetCol.commit){
              commitNums.push(targetCol.commitNumber * 1);

              return;
            }

            // var targetArr = targetCol.getCandidatesNumArr();
            // candidatesAreas = _.union(candidatesAreas, targetArr);
          })

          return commitNums;
        },
        clearCondidates: function(col){
          for (var i = 1; i < 10; i++) {
            var prop = "num" + i;
            // console.log("clearCondidates:" + prop);
            col.candidates[prop] = false;
          }
        },
        clearHighLight: function () {
          console.log("clearHighLight");
          for (var i = 1; i < 10; i++) {
            for (var j = 1; j < 10; j++) {

              //１パネルずつ見ていく
              var targetCol = this.arrayData[i][j];
              targetCol.isHighlight = false;
            }
          }
          this.mode = null;
          this.num = null;
        },
        saveBoard: function () {
          console.log("save data.");
          localStorage.setItem("maindata", JSON.stringify(this.maindata));

        },
        loadBoard: function () {
          console.log("load data.");
          this.maindata = JSON.parse(localStorage.getItem("maindata"));
          this.createArrayData();
          this.createAreas();

          this.clearHighLight();
        },
        clearBoard: function () {
          console.log("clear data.");
          this.maindata = createMainData();
          this.createArrayData();
          this.createAreas();

        }
      }
    });

    vm.init();


    $('input[name="options0"]:radio').change(function () {
      var radioval = $(this).val();
      if (radioval > 0) {
        vm.setDetermined(radioval);
      } else {
        vm.setDeterminedClear();
      }
      vm.setHighlight(radioval);
      // vm.resetCandidates();
      // console.log(radioval);
      $('input[name="options1"]:radio').parent().removeClass("active");
      $('input[name="options2"]:radio').parent().removeClass("active");
      $('input[name="options3"]:radio').parent().removeClass("active");
    });
    $('input[name="options1"]:radio').change(function () {
      var radioval = $(this).val();
      vm.setCandidates(radioval);
      // console.log(radioval);
      $('input[name="options0"]:radio').parent().removeClass("active");
      $('input[name="options2"]:radio').parent().removeClass("active");
      $('input[name="options3"]:radio').parent().removeClass("active");
    });
    $('input[name="options2"]:radio').change(function () {
      var radioval = $(this).val();
      vm.setCandidatesClear(radioval);
      // console.log(radioval);
      $('input[name="options0"]:radio').parent().removeClass("active");
      $('input[name="options1"]:radio').parent().removeClass("active");
      $('input[name="options3"]:radio').parent().removeClass("active");
    });
    $('input[name="options3"]:radio').change(function () {
      var radioval = $(this).val();
      if (radioval > 0) {
        vm.setCommit(radioval);
      } else {
        vm.setCommitClear();
      }
      vm.setHighlight(radioval);
      // vm.resetCandidates();
      $('input[name="options0"]:radio').parent().removeClass("active");
      $('input[name="options1"]:radio').parent().removeClass("active");
      $('input[name="options2"]:radio').parent().removeClass("active");
    });

  </script>

</body>

</html>